<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      <div class="form-group">
        <label for="title">ISBN : {{book.isbn}}</label>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="book.title"
               class="form-control" id="title" name="title" placeholder="Enter the title"
               required #title="ngModel">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" [(ngModel)]="book.author"
               class="form-control" id="author" name="author" placeholder="Enter the author"
               required #author="ngModel">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="book.price"
               class="form-control" id="price" name="price" placeholder="Enter the price"
               required #price="ngModel">
      </div>
      <div class="form-group">
        <label>
          <input type="radio" [(ngModel)]="book.inStock" value = "true" name = "inStock"> In Stock
        </label>
        <label>
          <input type="radio" [(ngModel)]="book.inStock" value = "false" name = "inStock"> Out Of Stock
        </label>
        <div [hidden]="error == false" class="alert alert-danger">Invalid information.</div>
      </div>
      <button type="submit" [disabled]="!bookForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
